
<ion-view  id="listView">
<ion-nav-bar class="bar-energized">
<div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
  <button class="button button-clear">
    Cancel
  </button>
</div>   
<ion-nav-back-button></ion-nav-back-button>
 <ion-nav-buttons side="right">
      <!-- <button class="button" >
          <i ng-click="showMap()" ng-class="listView ? 'ion-location' : 'ion-navicon'"></i> 
      </button> -->
      <button class="button  buttons button-icon header-item ion-location" ng-click="showMap()" ng-class="mapView ? 'ion-navicon' : 'ion-location'">
      </button>
    </ion-nav-buttons>
</ion-nav-bar>
  <ion-content>
  <div class="list card" ng-repeat="list in lists" ng-show="!mapView">

    <div class="item" style="margin-bottom: -24px;">
      <h1 class="positive"><a href="#detail/{{list.place_id}}" class="listLabel">{{$index+1}}. {{list.name}}</a></h1>
      <img ng-src="img/business/cocacola.png" class="card-list-logo">
      <p class="rating-p"><rating ng-model="rating.rate" max="rating.max" readonly="readOnly"></rating></p>
      <p><strong>{{list.distance}}{{distanceUnit}} | Food</strong></p>
      <p>{{list.vicinity}}</p>
      <div class="row" style="margin:0px!important;">
        <div class="col">
          <a class="button button-block button-positive listButtons" ng-click='openUrl()'>
            <i class="icon ion-arrow-graph-up-left" style="padding-right: 5px;"></i>DIRECTIONS
          </a>
        </div>
        <div class="col">
          <a ng-href="tel: 03222569865" class="button button-block button-positive listButtons" >
          <i class="icon ion-ios-telephone" style="padding-right: 5px;"></i>CALL</a>
        </div>
    </div>
    </div>
  </div>
    <ion-list ng-show="!mapView">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="list in lists" type="item-text-wrap" href="#detail/{{list.place_id}}">
        <img ng-src="{{list.icon}}">
        <h2 class="positive">{{list.name}}</h2>
        <p><strong>{{list.distance}}{{distanceUnit}}</strong></p>
        <p style="white-space: normal !important;">{{list.vicinity}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
     <div id="list-map" name="list-map" ng-show="mapView"></div>
    </ion-content>
</ion-view>
