<ion-view view-title="Details">
  <ion-content>
   	 <div class="list card">

	  <div class="item">
	    <h1 class="positive">{{place.name}}</h1>
	    <p class="rating-p"><rating ng-model="rating.rate" max="rating.max" readonly="readOnly"></rating></p>
	    <p><strong>{{distance}}{{distanceUnit}}</strong></p>
	    <p>{{place.formatted_address}}</p>
	  </div>

	  <div class="item">
	 <!--  <button class="button button-medium button-positive">
		  <i class="icon ion-ios-direction" ></i>
	  		 	DIRECTIONS
	  </button>
	  <button class="button button-medium button-positive">
		  <i class="icon ion-ios-telephone" ></i>
	  		 <a ng-href="tel: 03222569865"></a>
	 	CALL
	  </button> -->

	  
	    <!-- <a class="item item-icon-left" ng-href="tel: 03222569865">
	    <i class="icon ion-ios-telephone" ></i>
	     03222569865
	  </a>
	  <a href="#" class="item item-icon-left">
	    <i class="icon ion-ios-email"></i>
	   	mail.mzeeshan@gmail.com
	  </a> -->

    
 
	  	<div class="row">
		  <div class="col">
		    <button class="button button-block button-positive"> 
		    	<i class="icon ion-arrow-graph-up-left" ></i>
		    	DIRECTIONS
	  		 </button>

		  </div>
		  <div class="col">
		   
		  <a ng-href="tel: 03222569865" class="button button-block button-positive">
		  <i class="icon ion-ios-telephone" ></i>
		  CALL</a>
		    <!-- <button class="button button-block button-positive">
		    <i class="icon ion-ios-telephone" ></i>
	  		 	<a ng-href="tel: 03222569865"></a>
	  		 	CALL</button> -->
		  </div>
		</div>
	  </div>
  	</div>

     <div id="detail-map"  style="width: 100%;height:250px;"></div>
     </ion-content>
</ion-view>