<ion-view class="view-custom" hide-nav-bar="true">

  <ion-content >
<div class="innerPage">
	<div class="innerHeader">
    	<div class="menuIcon">
          <button type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="mainInner">
             <div class="searchBox">
                <input type="text" ionic-autocomplete="{items: items, onSelect:onSelect}" class="inputSearch" placeholder="Search" ng-model="search"/>
             </div>
        </div>    
    	<div class="clearfix"></div>
    </div>
    <div class="container-fluid">
    	<ul class="headerBoxes">
        	<li>
            	<a class="headerBox" ng-click="type('business')">
                	<img src="img/bizSmall.png" /><br>
                    Business
                </a>
            </li>
            <li>
            	<a class="headerBox" ng-click="type('restaurant')">
                	<img src="img/restSmall.png" /><br>
                    Restaurants
                </a>
            </li>
            <li>
            	<a class="headerBox">
                	<img src="img/hotelSmall.png" /><br>
                    Hotels
                </a>
            </li>
            <li>
            	<a class="headerBox" ng-click="type('doctor')">
                	<img src="img/docSmall.png" /><br>
                    Doctors
                </a>
            </li>
            <li>
            	<a class="headerBox" ng-click="type('beauty_salon')">
                	<img src="img/beautySmall.png" /><br>
                    Saloon
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <h1 class="itemHeading"><div class="headingStrip"></div>Most Popular<div class="headingStrip"></div></h1>
    <div class="container-fluid itemList">
    	<ul>
        	<li class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            	<div class="listItem">
                    <img src="img/sampleImg.png" />
                    <div class="listDetails">
                        <div class="listDetailLeft">
                            <div class="itemTitle">Bar B Q Tonight</div>
                            <div class="itemRating"><i class="flaticon-black-star"></i> <i class="flaticon-black-star"></i> <i class="flaticon-black-star"></i> <i class="flaticon-black-star"></i> <i class="flaticon-empty-star"></i></div>
                        </div>
                        <div class="listDetailRight">
                            <a href="#"><i class="flaticon-location-pointer"></i></a>
                            <a href="#"><i class="flaticon-handset"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <a href="#" class="shareLink"><i class="flaticon-share-connection-sing"></i></a>
                </div>
            </li>
            <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            	<div class="listItem">
                    <img src="img/sampleImg.png" />
                    <div class="listDetails">
                        <div class="listDetailLeft">
                            <div class="itemTitle">Bar B Q Tonight</div>
                            <div class="itemRating"><i class="flaticon-black-star"></i> <i class="flaticon-black-star"></i> <i class="flaticon-black-star"></i> <i class="flaticon-black-star"></i> <i class="flaticon-empty-star"></i></div>
                        </div>
                        <div class="listDetailRight">
                            <a href="#"><i class="flaticon-location-pointer"></i></a>
                            <a href="#"><i class="flaticon-handset"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <a href="#" class="shareLink"><i class="flaticon-share-connection-sing"></i></a>
                </div>
            </li>
        </ul>
        <div class="clearfix"></div>
        <a href="#" class="viewMoreLink col-lg-12">View More</a>
    </div>
    <!--
    <h1 class="itemHeading"><div class="headingStrip"></div>Recently Added<div class="headingStrip"></div></h1>
    <div class="container-fluid itemList">
    	<ul>
        	<li class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            	<div class="listItem">
                    <img src="img/sampleImg.png" />
                    <div class="listDetails">
                        <div class="listDetailLeft">
                            <div class="itemTitle">Bar B Q Tonight</div>
                            <div class="itemRating"><i class="flaticon-black-star"></i> <i class="flaticon-black-star"></i> <i class="flaticon-black-star"></i> <i class="flaticon-black-star"></i> <i class="flaticon-empty-star"></i></div>
                        </div>
                        <div class="listDetailRight">
                            <a href="#"><i class="flaticon-location-pointer"></i></a>
                            <a href="#"><i class="flaticon-handset"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <a href="#" class="shareLink"><i class="flaticon-share-connection-sing"></i></a>
                </div>
            </li>
            <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            	<div class="listItem">
                    <img src="img/sampleImg.png" />
                    <div class="listDetails">
                        <div class="listDetailLeft">
                            <div class="itemTitle">Bar B Q Tonight</div>
                            <div class="itemRating"><i class="flaticon-black-star"></i> <i class="flaticon-black-star"></i> <i class="flaticon-black-star"></i> <i class="flaticon-black-star"></i> <i class="flaticon-empty-star"></i></div>
                        </div>
                        <div class="listDetailRight">
                            <a href="#"><i class="flaticon-location-pointer"></i></a>
                            <a href="#"><i class="flaticon-handset"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <a href="#" class="shareLink"><i class="flaticon-share-connection-sing"></i></a>
                </div>
            </li>
        </ul>
        <div class="clearfix"></div>
        <a href="#" class="viewMoreLink col-lg-12">View More</a>
    </div> -->
</div>
  </ion-content>
</ion-view>
