<!-- <ion-nav-bar class="has-tabs-top bar-energized">  
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar> -->
<ion-tabs class="tabs-striped tabs-top tabs-background-energized tabs-color-light">

  <!-- Home Tab -->
  <ion-tab title="Home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Categories Tab -->
  <ion-tab title="Categories" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Favourite Tab -->
  <ion-tab title="Favourite" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs> 