<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Bizz Map</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
    <!-- Angular Material Fileinput -->
    <link rel="stylesheet" href="../bower_components/lf-ng-md-file-input/dist/lf-ng-md-file-input.css">
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCt3E722t2iVnT355Y2Iq7WsjYAqNdPP94&libraries=places"></script>
  </head>

  <body ng-app="bizzmap" layout="column" >
<!--   <md-toolbar layout="row">

      <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h1>Bizz Map</h1>

  </md-toolbar> -->
  <div ng-controller="MainCtrl" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>Bizz Map</span>
        </h2>
        <span flex></span>
        <md-button class="md-raised" aria-label="Learn More" ng-click="addBusiness()">
          Add Business
        </md-button>
      
      </div>
    </md-toolbar>
   </div>
    <div ui-view autoscroll="true"></div>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>
    <script src="../bower_components/lf-ng-md-file-input/dist/lf-ng-md-file-input.js"></script>

    <script src="./src/users/Users.js"></script>
    <script src="./src/users/UserController.js"></script>
    <script src="./src/users/UserService.js"></script>
    <script src="app.js"></script>
    <script src="admin/controllers/main-ctrl.js"></script>
    <script src="admin/controllers/add-business-ctrl.js"></script>
    <script src="admin/models/categories.js"></script>
    <script src="services/api-service.js"></script>
    <script src="services/values.js"></script>
    <script type="text/javascript">

      

    </script>

  </body>
</html>
