/* Empty. Add your own CSS if you like */
.tabs-striped .tab-item {
    margin-top: 1px;
    font-size: 12px;
}

.tabs-striped .tab-item.tab-item-active, 
.tabs-striped > .tabs
{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.item h1 {
  font-size: 20px !important;
}
.rating-p {
  margin-left: -10px !important;
}
.scroll {
    height: 100%;
}
 
#list-map {
    width: 100%;
    height: 100%;
}
/*.button {

	width:150px;
	height:75px;
}*/

.home-card{
 max-width: 95%;

}

.icon-design{
 font-size:40px;
 color:yellow;

}

.icon-design1{
 font-size:40px;
 color:#e6b500;
}

.icon-design2{
 font-size:40px;
 color:#886aea;
}
.dasbhoard-buttons {
    text-decoration: none;
}

.appAdminMain{padding:25px 0px; }
.appAdmin{margin-top:50px; }
.appAdminCircle{ 
    text-align:center;
    margin-top: 5px;
}
.appAdminLink{
  text-align:center; 
  margin:0 auto; 
  font-family: 'ProximaNova-Semibold'; 
  font-size:11px; color:#4e5665;
   text-transform: uppercase;
}
.view-custom {
    background-color:#f6f6f6;
}

.banner {
    background: url(../img/growth.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 246px;
    margin: auto;
    z-index: 2;
    position: relative;
}

.appAdminCircle img{height:75px; margin:30px 0;}
ul.appAdminMain{text-align:center;}
li.appAdmin{display:inline-block; margin-top:0;}
.appAdminLogo img{height:250px; text-align:center; margin:0 auto;}
.appAdminLogo{text-align:center;}


.marketing#grow-business {
   /* padding: 50px 0 76px;*/
    background: url(../img/growth.jpg) center center no-repeat #005AB1;
    background-size: cover;
    height: 240px;
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
    top: -70px;

}

.marketing {
    padding: 42px 0;
    background-color: #1d1d1d;
    color: #fff;
    text-align: center;
}

 .marketing header {

    font-size: 1.25rem;
    text-shadow: 0 1px 3px #000;
    margin-top: 30px;
}

.card, .list-inset {
    margin: 3px !important;
}


.bar.bar-positive {
  background: transparent;
  border-bottom-width: 0;
}

.card-list-logo {
  right: 10px;
  top: 10px;
  position: absolute;
  max-width: 70px;
  max-height: 70px;
}
.listLabel {
  font-size: 15px;
  text-decoration: none !important;
  text-overflow: ellipsis;
  /*color:#1989B7 !important;*/
  color: #01796f !important;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}
.detailLabel {
  color: #01796f !important;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}
.detailAddressLabel {
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}
.listButtons {
  height: 46px;
  border-radius: 0px;
  margin-top: 0px !important;
  /*background-color: #1989B7 !important;*/
  background-color: #01796f !important;
}
.addressBar {
  color:#000 !important;
}
.bar-energized {
  background-color: #01796f !important;
  border-color:#01796f !important;
}